@model WebApplication1.Models.book

@{
    ViewBag.Title = "AddBooks";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit Book</title>
    <!-- Custom fonts for this template-->
    <link href="~/Scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Scripts/css/sb-admin-2.min.css" rel="stylesheet">
    <script>
        function printErr(id, msg) {
            document.getElementById(id).innerHTML = msg;
            document.getElementById(id).style.fontSize = "small";
        }

        function validate() {
            var bname = document.myForm.bookname.value;
            var auth = document.myForm.author.value;
            var genre = document.myForm.genre.value;

            var bnameErr = authErr = genreErr = true;
            if (bname == "") {
                printErr("bnameErr", "Book name is required!");
                bnameErr = true;
            }
            else {
                printErr("bnameErr", "");
                bnameErr = false;
            }

            if (auth == "") {
                printErr("authErr", "Author is required!");
                authErr = true;
            }
            else {
                printErr("authErr", "");
                authErr = false;
            }

            if (genre == "") {
                printErr("genreErr", "Genre is required!");
                genreErr = true;
            }
            else {
                printErr("genreErr", "");
                genreErr = false;
            }

            if (bnameErr || authErr || genreErr == true) {
                return false;
            }
        }
    </script>
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Edit Book Information</h1>
                            </div>

                            <form class="user" name="myForm" method="POST" action="/Home/EditDone/@Model.Id" onsubmit="return validate()">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="bookname" value="@Model.name" placeholder="Book name">
                                    <span class="text-danger" id="bnameErr"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="author" value="@Model.author" placeholder="Author">
                                    <span class="text-danger" id="authErr"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="genre" value="@Model.genre" placeholder="Genre">
                                    <span class="text-danger" id="genreErr"></span>
                                </div>
                                <input type="submit" value="Edit Book" class="btn btn-primary btn-user btn-block">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/Home/index">Back to home page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>

</body>
</html>